.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
}

.card > img {
  margin-right: 0.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}